body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.title-page, .game-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-page h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.title-page button {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #59a0b2;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.heading-block {
    margin-bottom: 20px;
}

.sudoku-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 2px;
    margin-bottom: 20px;
    max-width: 540px;
}

.sudoku-cell {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 25px;
}

.sudoku-cell:nth-child(3n + 1) {
    border-left: 2px solid #59a0b2;
}

.sudoku-cell:nth-child(3n) {
    border-right: 2px solid #59a0b2;
}

.sudoku-cell:nth-child(n + 19):nth-child(-n + 27),
.sudoku-cell:nth-child(n + 46):nth-child(-n + 54),
.sudoku-cell:nth-child(n + 73):nth-child(-n + 81) {
    border-bottom: 2px solid #59a0b2;
}

.sudoku-cell:nth-child(n + 1):nth-child(-n + 9),
.sudoku-cell:nth-child(n + 28):nth-child(-n + 36),
.sudoku-cell:nth-child(n + 55):nth-child(-n + 63) {
    border-top: 2px solid #59a0b2;
}

.sudoku-cell input {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 25px;
    border: none;
    outline: none;
    background-color: transparent;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #59a0b2;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#mistake-count {
    margin: 10px 0;
    font-size: 18px;
    color: red;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.modal-content h2 {
    margin: 0;
}

.modal-content button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #59a0b2;
    color: #fff;
    border: none;
    border-radius: 5px;
}
